node_modules

/dist
#.env
.DS_Store
.vscode
.idea
*.log
*.tsbuildinfo

/node_modules

# IDEs and Code Editors
/.idea
/.vscode
/.zed
/.vim

pnpm-lock.yaml
pnpm-workspace.yaml


# Saved Data
common/firebase/saved-data
