# Ignore environment variable files
.env
.env.development.local
.env.production.local
wondamart-data-solutions-ltd-firebase-adminsdk-fbsvc-d418aa8130.json

# Ignore node modules
node_modules/

# Ignore build output
dist/

# Ignore logs
logs/
*.log