.bundles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.packages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    gap: .5rem;
}

.firebase-emulator-warning {
    top: calc(100vh - 20px);
    opacity: 0.75;
}

*.hidden-scroll-bar {
    scrollbar-width: None;
    scrollbar-color: var(--color-muted-foreground) transparent;
}

*.hidden-scroll-bar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}
*.hidden-scroll-bar::-webkit-scrollbar-track {
    background: transparent !important;
    display: none !important;
}

*.hidden-scroll-bar::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 0 !important;
    display: none !important;
}

*.hidden-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
    display: none !important;
}
